@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-grey text-green:hover background-std">
    <h1 class="display-4">Cinema Seat Reservation App</h1>
    <div></div>
    <h2>This app allows you to book a seat for a film show.</h2>
    <div></div>
    <p>Start by creating an account.</p>
</div>
