@model Rejestracja_Miejsc.Models.Show

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowTime)
        </dd>
    </dl>
</div>
<div>
    <a class="text-grey" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="text-grey" asp-action="Index">Back to List</a>
</div>
